body{
 font-family: monospace;
 text-align: center;   
 color: white;
 background-color: #282c34;
}
#year{
    display: flex;
    align-items: center;
    justify-content : center;
    border-radius: 5px 0px 0px 5px;
    background-color : #6ad058;
    height : 25px;}
#cont{
    padding: 4%;
}